In [9]:
import pandas as pd

In [62]:
df=pd.read_csv("accepted_2007_to_2018Q4.csv",usecols=["loan_amnt","term","int_rate","installment","grade","sub_grade","purpose","emp_length","annual_inc","verification_status","home_ownership","fico_range_low","earliest_cr_line","delinq_2yrs","pub_rec","dti","revol_bal","revol_util","bc_util","issue_d","application_type","loan_status","recoveries"])

In [63]:
df.shape

(327707, 23)

In [64]:
df.sample(5)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,...,dti,delinq_2yrs,earliest_cr_line,fico_range_low,pub_rec,revol_bal,revol_util,recoveries,application_type,bc_util
196640,20000.0,36 months,9.99,645.25,B,B3,< 1 year,MORTGAGE,80000.0,Source Verified,...,13.71,0.0,Oct-1993,660.0,1.0,11913.0,49.8,0.00,Individual,31.8
28561,3000.0,36 months,16.55,106.29,D,D2,NaN,OWN,10874.0,Verified,...,30.68,0.0,May-2008,665.0,0.0,2968.0,58.2,272.34,Individual,38.5
262917,27000.0,36 months,11.53,890.74,B,B5,NaN,RENT,90250.0,Source Verified,...,7.42,0.0,Dec-1998,720.0,0.0,10019.0,53.3,0.00,Individual,77.1
174006,7500.0,36 months,14.65,258.71,C,C5,6 years,OWN,32000.0,Source Verified,...,23.93,0.0,Nov-2011,700.0,0.0,4442.0,28.3,0.00,Individual,38.6
147712,4625.0,36 months,19.99,171.86,E,E4,2 years,MORTGAGE,55000.0,Verified,...,26.45,0.0,Apr-2001,680.0,0.0,31848.0,55.1,885.76,Individual,93.8

In [65]:
df['loan_status'].value_counts()

loan_status
Fully Paid            231966
Charged Off            58623
Current                35224
Late (31-120 days)      1149
In Grace Period          514
Late (16-30 days)        230
Default                    1
Name: count, dtype: int64

In [66]:
df = df[df['loan_status'].isin(['Fully Paid', 'Charged Off'])]

In [67]:
df.shape

(290589, 23)

In [68]:
df['loan_status'].value_counts()

loan_status
Fully Paid     231966
Charged Off     58623
Name: count, dtype: int64

In [61]:
df.to_csv("required_dataset")